<nav class="navbar navbar-expand-sm bg-dark">

    <ul class="nav me-auto">

        <li class="nav-item">

            <a class="nav-link" href="#">Home</a>

        </li>

        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Services</a>

            <div class="dropdown-menu">

                <a class="dropdown-item"> Xyz </a>

                <a class="dropdown-item"> abc </a>

                <a class="dropdown-item"> mnp </a>

            </div>

        </li>

        <li class="nav-item">

            <a class="nav-link" href="#">Reports</a>

        </li>



    </ul>

    <ul>

        <li class="nav-item float-right">

            <button class="btn btn-primary mt-2" data-toggle="modal" data-target="#amodal">Login</button>

        </li>

    </ul>

</nav>